@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

*{
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

header{
    background-color: black;
}

.header-links{
    padding: 24px 0;
    text-align: right;
}

.header-links a{
    color: white;
    margin-left: 16px;
}

.welcome{
    background-image: url(../img/xiao.jpg);
    color: white;
    height: 653px;
}

.welcome-inner{
    text-align: center;
    padding: 170px 0;
}

.welcome-inner h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.5px;
}

.welcome-inner h1{
    font-weight: 700;
    font-size: 48px;
}

#welcome-button{
    padding: 14px 24px;
    background-color: #4985ff;
    border: none;
    color: white;
    border-radius: 100px;
}

button{
    padding: 14px 24px;
    background-color: #4985ff;
    border: none;
    color: white;
    border-radius: 100px;
}

.about-inner{
    padding: 105px 0;
    text-align: center;
}

.about-inner h1{
    font-size: 36px;
}

.about-inner p{
    opacity: 0.4;
}

.about-item{
    width: 30%;
    display: flex;
}

.about-text h2{
    font-size: 18px;
}

.about-img{
    width: 40%;
}

.about-img img{
    width: 100%;
}

.about-text{
    width: 50%;
}

.about-text p{
    font-size: 14px;
}

.about-list{
    padding: 70px 0 55px;
    display: flex;
    justify-content: space-between;
}

.services{
    background-color: #f6f6f8;
}

.services-inner{
    padding: 105px 0;
}

.services-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services-text h2{
    font-size: 36px;
    margin-top: 0;
}

.services-text p{
    opacity: 0.3;
}

.services-text{
    padding-right: 60px;
}

.services-img{
    border-radius: 40px;
    width: 40%;
}

.services a{
    font-size: 16px;
}

hr{
    margin: 105px 0;
}

.services-list h3{
    font-size: 36px;
    margin-bottom: 0;
}

.services-list{
    display: flex;
    justify-content: space-between;
}

.services-item img{
    width: 50px;
}

.services-item p{
    margin: 0;
}

.about-item img{
    border-radius: 100px;
}

.works{
    background-image: url(../img/works-bg.png);
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.works-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works-title h1{
    font-size: 36px;
    color: white;
    margin-right: 50px;
}

.works-inner{
    padding: 100px 0 0 0;
}

.works-list{
    display: flex;
    justify-content: space-between;
}

.works-item{
    width: 30%;
}

.works-item img{
    border-radius: 40px;
    width: 350px;
    height: 300px;
}

.works-span{
    color: #4985FF;
}
.works-text p{
    color: #999999;
}

.works-text h3{
    font-size: 18px;
}

.works-inner hr{
    margin: 85px 0;
}

.port{
    background-color: #F6F6F8;
}

.port-inner{
    padding: 100px 0 130px ;
    text-align: center;
}

.port-inner h2{
    font-size: 36px;
}

.port-inner p{
    font-size: 18px;
    opacity: 0.4;
    margin-bottom: 70px;
}

.port-img{
    display: flex;
    justify-content: space-between;
    
}

.port-img img{
    width: 23%;
    border-radius: 40px;
}

.port-button{
    margin-top: 63px;
}

.video{
    background-image: url(../img/gan-u-bg.jpg);
    background-repeat: no-repeat;
    
}

.video-inner{
    padding: 70px 0 0  ;
}

.video-inner h1{
    font-size: 36px;
    color: white;
    text-align: center;
}

.video-inner p{
    font-size: 18px;
    color: white;
    padding-bottom: 70px;
    text-align: center;
}

.video-box{
    background-image: url(../img/Kadzuha-genshin-bg.jpeg);
    border-radius: 30px;
    border: 3px solid rgb(100, 100, 100);
    background-size: cover;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-button span{
    color: rgb(255, 255, 255);
    font-size: 22px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 100px;
    padding: 20px 40px;
}

.video-button span img{
    margin-right: 21px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    display: none;
}

.modal-close{
    height: 5vh;
    color: rgb(54, 53, 53);
    background-color: rgb(206, 206, 206);
    text-align: right;
}

.sub-inner{
    text-align: center;
    padding: 85px 0;
}

.sub-inner h3{
    font-size: 18px;
}

.sub-inner p{
    opacity: 0.4;
}

.sub-input{
    width: 490px;
    box-shadow: 0 0 20px 0 rgb(197, 197, 197);
    display: flex;
    margin: 0 auto;
    border-radius: 100px;
    overflow: hidden;
}
.sub-input input{
    width: 60%;
    padding: 12px 36px;
    border: none;
    outline: none;
    font-size: 18px;
}

.sub-input span{
    width: 40%;
    padding: 12px;
    background-color: #4985ff;
    color: white;
    font-size: 16px;
}

.footer{
    background-color: #E0E0E0;
}

.footer-content{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 18px;
    font-weight: bold;
}

.footer-item a{
    color: #999999;
    font-size: 14px;
}

.footer-item{
    padding: 14px 0;
}

.footer-list{
    list-style: none;
    padding-left: 0;
}

.footer-l{
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #999999;
    color: #999999;
}

#welcome-button:hover{
    background-color: #6699ff;
    transform: translateY(-5px);
    transition: 0.5s ease-in-out;
}

@media (max-width: 720px){
    .container{
      width: auto;  
      margin: 0 10px;
    }
    .header-links a{
        margin: 0 0 0 3px;
        font-size: 10px;
    }
    .welcome-inner h1{
        font-size: 24px;
    }

    .welcome-inner{
        padding: 120px 0;
    }

    .welcome{
        height: 500px;
    }

    header{
        display: none;
    }
    .about-inner h1{
        font-size: 24px;
    }

    .about-inner p{
        font-size: 14px;
    }

    .about-item{
        display: block;
        margin-bottom: 30px;
    }

    .services-info{
        display: block;
    }

    .services-img{
        width: 70%;
        margin-top: 50px;
    }

    .services-item{
        width: 40%;
    }

    .services-list{
        flex-wrap: wrap;
    }

    .works-list{
        display: block;
    }

    .works-item{
        width: 100%;
    }
    
    .works-white{
        color: white;
    } 

    .port-img img{
        width: 40%;
        margin: 20px;
    }

    .port-img{
        display: block;
    }

    .port-inner p{
        font-size: 14px;
        margin: 0 20px;
    }

}